* {
	font-size: 12px; font-family: ו
}

.HQ_TABLE {
	border: #2892F0 1px solid;
}

.HQ_TH {
	background-color: #A0CFFE;
	bordercolor:#94BAE7;
	color: black;
	font-size: 12px;
	font-weight:bold;
}

.HQ_TD {
	font-family: ו;
	font-size: 12px;
	line-height: 15px;
}

.HQ_BUTTON {
	border-right: #002D96 1px solid;
	padding-right: 2px;
	border-top: #002D96 1px solid;
	padding-left: 2px;
	font-size: 12px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,  StartColorStr=#FFFFFF,  EndColorStr=#9DBCEA);
	border-left: #002D96 1px solid;
	cursor: hand;
	color: black;
	padding-top: 2px;
	border-bottom: #002D96 1px solid;
}

.HQ_TEXT {
	background-color:#FFFFFF; 
	color:#000000;
	border:1px solid;
	border-color:#93C9FF;
}

.HQ_TEXTAREA {
	background-color:#FFFFFF; 
	color:#000000;
	border:1px solid;
	border-color:#93C9FF;
}