<script type="text/javascript">
        //debugger; 调试时使用
        var gridManager = null;
        var activeDialog = null;

        function f_find() {
            gridsearch = " and clieEquip.ClieId='" + $("#clieid").val() + "'";
            if ($("#EquipName").val() != "") {
                gridsearch += " and main.EquipName like '%" + $("#EquipName").val() + "%'";
            } 
            if (!gridManager) return;
            gridManager.setOptions(
                { parms: [{ name: 'gridsearch', value: gridsearch}] }
             );
            gridManager.loadData(true);
        }
        //选中的设备信息
        function f_isCheckedEid(rowdata) {
            var strtid = $("#eids").val().split(",");
            for (i = 0; i < strtid.length; i++) {
                if (rowdata.Id == strtid[i]) {
                    return true;
                }
            }
            return false;
        }
        $(function () {
            gridsearch = " and clieEquip.ClieId='" + $("#clieid").val() + "'";      
            f_setGrid();
        });
        function f_setGrid() {
            var state = "";
            gridManager = $("#maingrid").ligerGrid({
                columns: [
                { display: '设备型号', name: 'EquipModelName', align: 'left', width: 180, minWidth: 60 },
                { display: '设备名称', name: 'EquipName', align: 'left', width: 130, minWidth: 60 },
                { display: '占用端口', name: 'OccupyPort', align: 'left', width: 130, minWidth: 60 },
                { display: '集团客户编号', name: 'ClieNo', align: 'left', width: 130, minWidth: 60 },
                { display: '客户名称', name: 'ClieName', align: 'left', width: 230, minWidth: 60 },
                { display: '维护单位', name: 'CompanyName', align: 'left', width: 180, minWidth: 60 },
                { display: '所属区县', name: 'DistrictName', align: 'left', width: 180, minWidth: 60 }
                ], dataAction: 'server',
                url: "/Resources/Equipment/GridSelPager", sortName: 'Id',
                parms: [{ name: "gridsearch", value: gridsearch}],
                width: '100%', pageSize: 10,height:'100%',
                checkbox: true, isChecked: f_isCheckedEid,
                heightDiff: -9,
                onError: function (a, b) {
                    debugger
                }
            });
        }
        function f_reload() {
            gridManager && gridManager.loadData(true);
        }
        function f_getdata() {
            var manager = $("#maingrid").ligerGetGridManager();
            //manager.getData();
            var rowsdata = gridManager.getCheckedRows();
            
           if (!rowsdata.length) {
                $.ligerDialog.alert('请先选择行!');
                return null;
            }
            var ary = new Array();
            //var idStr = "";
            $(rowsdata).each(function (i, item) {
                var clie = new Object();
                clie["EquipId"] = this.Id;
                clie["EquipName"] = this.EquipName;
                clie["OccupyPort"] = this.OccupyPort;
                clie["ClieId"] = this.ClieId;
                ary.push(clie);
            });
            return ary;
        }
    </script>
    <style>
    #searchbar{margin:0px auto; width:100%; background:#F3F8F9;border-left: 1px solid #B6D3E0;border-bottom: 1px solid #B6D3E0;  border-right: 1px solid #B6D3E0; height:auto; line-height:auto;}
    </style>
    <form id="form1" runat="server">
    <div id="searchbar">
    <table width="100%"><tr><td width="100%">
    设备名称：<input type="text" id="EquipName" name="EquipName"/>
    <input type="button" value="查询" id="Button1" onclick="f_find()" class="sel_btn" /> </td></tr></table>
    </div>
    <div id="maingrid"></div> 
    <input type="hidden" id="clieid" value="@ViewData["clieid"]" />
    <input type="hidden" id="eids" value="@ViewData["eids"]" />
    </form>
