
/*基本信息*/
body {font:12px Tahoma;margin:0px;text-align:center;background:#FFF;}
a:link,a:visited {font-size:12px;text-decoration:none;}
a:hover{}

/*页面层容器*/
#container {width:800px;margin:10px auto}

/*页面头部*/
　　#header {background:url(logo.gif) no-repeat}

#menu {padding:20px 20px 0 0}
　　/*利用padding:20px 20px 0 0来固定菜单位置*/
　　#menu ul {float:center;list-style:none;margin:0px;}
　　/*添加了float:right使得菜单位于页面右侧*/
　　#menu ul li {float:left;margin:0 10px;display:block;line-height:28px}
.menuDiv {width:1px;height:28px;background:#999}




#PageBody {
 width:730px; /*设定宽度*/
 margin:8px auto; /*居中*/
}
#Sidebar {
 width:160px; /*设定宽度*/
 text-align:left; /*文字左对齐*/
 float:left; /*浮动居左*/
 clear:left; /*不允许左侧存在浮动*/
 overflow:hidden; /*超出宽度部分隐藏*/
 border:1px solid #E00;
height:200px
}
#MainBody {
 width:570px;
 text-align:left;
 float:right; /*浮动居右*/
 clear:right; /*不允许右侧存在浮动*/
 overflow:hidden;
 border:1px solid #E00;
height:200px
}


#Footer {width:800px;margin:0 auto;height:50px;background:#00FFFF}
