<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="Stylesheet" href="../../Content/Lib/css/Style.css" />
     <style type="text/css">
       .sul{border: 1px solid #d0d0d0; width: 454px; text-align: left; border-top: none; font-size:12px; height:200px}
       .sul ul {font-size:12px; word-wrap : break-word; width:444px;}
       .sul ul li{ margin:0 10px; font-size:12px}
    </style>
</head>
<body>
    <div>
        <div style="text-align: center">
            <table style="text-align: left; width: 100%; height: 100%;">
                <tr>
                    <td valign="top" style="width: 540px; height: 556px; text-align: center;">
                        <img src="../../Content/Lib/images/index/map.jpg" alt="" />
                    </td>
                    <td valign="top">
                        <table>
                            <tr>
                                <td>
                                    <div style="width: 456px; height: 27px; margin-top: 10px; background: url('../../Content/Lib/images/index/tab_title.png') no-repeat 0 0; line-height:27px; text-indent:15px; color:red; font-weight:bold">
                                       公告
                                    </div>
                                    <div class="sul">
                                        <ul >
                                            <li>&nbsp;</li>
                                            <li>>>下发《中国移动福建公司集团客户网络分级服务（SLA）规范实施细则》 </li>
                                            <li>>>《集团业务网络专线移交报告（20110722版）》已上传，请到维护资料库下载</li>
                                            <li>>>《MSAP设备网管及开通操作规范(20110809版)》</li>
                                            <li>>>《关于开展2012年网格化维护综合交接、集团业务网络资源清查等重点工作的通知》</li>
                                            <li>&nbsp; </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="width: 456px; height: 27px; margin-top: 10px; background: url('../../Content/Lib/images/index/tab_title.png') no-repeat 0 0">
                                        &nbsp;
                                    </div>
                                    <div style="border: 1px solid #d0d0d0; width: 454px; text-align: left; border-top: none">
                                        <ul>
                                            <li>&nbsp;</li>
                                            <li>&nbsp; &nbsp;本月有哪些站点（专线）需要巡检 </li>
                                            <li>&nbsp; &nbsp;预警（现什么设备什么型号已经低于设定值5，请补充备件） </li>
                                            <li>
                                                <table border="0" cellpadding="0" cellspacing="0" class="TT">
                                                    <tr>
                                                        <td style="width: 300px; background-color: #dfeffd; text-align: center">
                                                            统计类型
                                                        </td>
                                                        <td style="background-color: #dfeffd; text-align: center">
                                                            数量
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="background-color: #ffffff">
                                                            维护人员总量:&nbsp;
                                                        </td>
                                                        <td style="background-color: #ffffff">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="background-color: #ffffff">
                                                            网点总量:&nbsp;
                                                        </td>
                                                        <td style="background-color: #ffffff">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="background-color: #ffffff">
                                                            网格总量:&nbsp;
                                                        </td>
                                                        <td style="background-color: #ffffff">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="background-color: #ffffff">
                                                            车辆总数:&nbsp;
                                                        </td>
                                                        <td style="background-color: #ffffff">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="background-color: #ffffff">
                                                            仪器仪表总量:&nbsp;
                                                        </td>
                                                        <td style="background-color: #ffffff">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="background-color: #ffffff">
                                                            AAA客户数量:&nbsp;
                                                        </td>
                                                        <td style="background-color: #ffffff">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="background-color: #ffffff">
                                                            AA数量:&nbsp;
                                                        </td>
                                                        <td style="background-color: #ffffff">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </li>
                                            <li>&nbsp; </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
