.gmap_button{
	background-color:#FFFFFF;
	border:2px  ridge #000000;
	line-height:16px;
	vertical-align:middle;
	width:63px;
	text-align:center;
	cursor:pointer;
	color: #000000;
	font-size:12px;
}
.gmap_button .on{
font-weight:bold;
}