<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <link href="../../../../Lib/ligerUI/skins/Silvery/css/ligerui-common.css" rel="stylesheet" type="text/css" /> 
    <link href="../../../../Lib/ligerUI/skins/Silvery/css/ligerui-dialog.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Lib/ligerUI/skins/Silvery/css/ligerui-grid.css" rel="stylesheet"  type="text/css" />
    <link href="../../../../Lib/ligerUI/skins/Silvery/css/ligerui-form.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Lib/ligerUI/skins/ligerui-icons.css" rel="stylesheet" type="text/css" />
    <script src="../../../../Lib/jquery/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script src="../../../../Lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script>  
    <script src="../../../../Content/Lib/js/common.js" type="text/javascript"></script>

    <script type="text/javascript">
        //debugger; 
        var gridManager = null;
        var activeDialog = null;

        function f_openWindow(url, title, width, height) {
            var dialogOptions = { width: width, height: height, title: title, url: url, buttons: [
            { text: '保存', onclick: function (item, dialog) {
                dialog.frame.f_save();
                f_reload();//刷新数据
                //debugger;
            }
            },
            { text: '关闭', onclick: function (item, dialog) {
                dialog.close();
            }
            }
            ], isResize: true, timeParmName: 'a'
            };
            activeDialog = parent.jQuery.ligerDialog.open(dialogOptions);
        }
        function f_closeWindow(reload) {
            activeDialog && activeDialog.close();
            reload && f_reload();
        }
        function f_btnClick(item) {
            switch (item.id) {
                case "add":
                    f_add();
                    break;
                case "modify":
                    f_modify();
                    break;
                case "delete":
                    f_delete();
                    break;
                case "usestart":
                    f_usestate("1");
                    break;
                case "usestop":
                    f_usestate("2");
                    break;
                default:
                    $.ligerDialog.alert('暂未实现!');
                    break;
            }
        }
        function f_button() {
            var rowsdata = gridManager.getCheckedRows();
            if (!rowsdata.length) {
                $.ligerDialog.alert('请先选择行!');
                return;
            }
            var id = rowsdata[0].ID;
            f_openWindow('system/ButtonList.aspx?CurID=' + id, '菜单操作管理', 600, 350);
        }
        function f_add() {
            window.location.href = "/Exam/subject/add/0";
           //f_add_openWindow('/Exam/subject/edit/0', '添加菜单', 600, 1000 );
        }
        function f_modify() {
            var rowsdata = gridManager.getCheckedRows();
            if (rowsdata.length!=1) {
                $.ligerDialog.alert('请选择一行记录!');
                return;
            }
            var id = rowsdata[0].ExamSubContent.Id;
            var subjecttype = rowsdata[0].SubjectType;
            if (subjecttype == "选择题")
                window.location.href = "/Exam/Subject/EditMultiple?id=" + id ;
            else if (subjecttype == "填空题")
                window.location.href = "/Exam/Subject/EditFillBlank?id=" + id;
            else if (subjecttype == "判断题")
                window.location.href = "/Exam/Subject/EditJudge?id=" + id; 
        }
        function f_viewsubject(id, subjecttype) {
            if (subjecttype == "选择题")
                window.location.href = "/Exam/Subject/ViewMultiple?id=" + id;
            else if (subjecttype == "填空题")
                window.location.href = "/Exam/Subject/ViewFillBlank?id=" + id;
            else if (subjecttype == "判断题")
                window.location.href = "/Exam/Subject/ViewJudge?id=" + id; 
        }
        function f_delete() {
            var rowsdata = gridManager.getCheckedRows();
            if (!rowsdata.length) {
                $.ligerDialog.alert('请先选择行!');
                return;
            }

            for (i = 0; i < rowsdata.length; i++) {
                if (rowsdata[i].State == "已使用") {
                    if (rowsdata.length == 1)
                        $.ligerDialog.alert('该题已经被使用，删除操作无法进行。');
                    else
                    $.ligerDialog.alert('删除的列表中存在已经被使用的试题，删除操作无法进行。');
                    return;
                }
            }
           

            $.ligerDialog.confirm("是否确认删除?", "提示", function (ok) {
                if (ok) {
                    $.ligerDialog.waitting("正在删除中...");
                    var idStr = "";
                    var typeidstr = "";
                    $(rowsdata).each(function (i, item) {
                        idStr += this.ExamSubContent.Id;
                        typeidstr += this.ExamSubContent.TypeId;
                        if (i < rowsdata.length - 1) {
                            idStr += ",";
                            typeidstr += ",";
                        }
                    });
                    $.getJSON('/Exam/Subject/Delete?id=' + idStr + '&typeid=' + typeidstr, { Rnd: Math.random() }, function (data) {
                        if (data.Type) {
                            $.ligerDialog.success("删除成功");
                        }
                        else {
                            $.ligerDialog.error("删除失败!<BR>" + data.Message);
                        }
                        $.ligerDialog.closeWaitting();
                        f_reload();
                    });
                } else {
                    return;
                }
            });
           
        }
        $(function () {
          
            f_setToolbar();
            f_setGrid();
        });
        function f_setToolbar() {
            SetButtons($("#toolbar"));
        }
        function f_setGrid() {
            gridManager = $("#maingrid").ligerGrid({
                columns: [
                { display: '试题内容', name: 'ExamSubContent', type: 'object', value: 'Content', align: 'left', width: 400, minWidth: 300 },
                { display: '题型', name: 'SubjectType', align: 'left', width: 90, minWidth: 60 },
                { display: '科目类型', name: 'CourseName', align: 'left', width: 120, minWidth: 100 },
                { display: '难易度', name: 'ScaleGradeType', align: 'left', width: 60, minWidth: 30 },
                { display: '创建时间', name: 'CreateTime', type: 'date', align: 'left', width: 150, minWidth: 120 },
                { display: '状态', name: 'State', align: 'left', width: 60, minWidth: 30 },
                { display: '预览', name: 'ID,SubjectType', type: 'javascript', func: 'f_viewsubject', linkName: '预览', align: 'left', width: 50, minWidth: 40 }
                ], dataAction: 'server',
                // url: "../../Service/BillListData.ashx?Action=GetGridView&gridviewname=system_menu", sortName: 'id',
                url: "/Exam/Subject/gridpager", sortName: 'id',
                width: '99%', height: '100%', pageSize: 15,
                checkbox: true,
                heightDiff: -9,
                onError: function (a, b) {
                    debugger
                }
            });
        }
        function f_reload() {
            gridManager && gridManager.loadData(true);
        }
    </script>
    <style type="text/css"> 
        #maingrid{ margin:0 auto;}
        #toolbar{margin:2px auto;width:99%; background:#F3F8F9;border: 1px solid #B6D3E0; height:30px; line-height:30px;}
        #toolbar .l-toolbar-item{ margin-top:4px;}
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div id="topmenu"></div>
    <div id="toolbar"></div>
    <div id="searchbar"></div>
    <div id="maingrid"></div>
    </form>
</body>
</html>
