<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
@model QzgfFrame.Exam.SubjectManger.Models.SubjectContent 
@{
    
    ViewBag.Title = "Register";
}       
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title> 
    <link href="../../../../Content/Lib/css/EditStyle.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Lib/ligerUI/skins/Silvery/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Lib/ligerUI/skins/ligerui-icons.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/Lib/css/autoSearchText.css" rel="stylesheet" type="text/css" />
    <script src="../../../../Lib/jquery/jquery-1.5.2.min.js" type="text/javascript"></script>
    <script src="../../../../Lib/jquery/jquery.form.js" type="text/javascript"></script>
    <script src="../../../../Lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script>  
    <script src="../../../../Content/Lib/js/common.js" type="text/javascript"></script>
    <script type="text/javascript">
        //debugger;
        function f_windowclose() {
            window.location.href = "/Exam/Subject/";
        } 
    </script>
</head>
<body style=" padding:1px;">
    <div>
        <table cellpadding="0" border="0" cellspacing="0"  width="100%" class="edittable">
            <tbody>
                <tr>
                   <td class="Right_font">试题类型：</td>
                    <td class="Left_font">填空题</td>
                </tr>
                <tr>
                    <td class="Right_font">试题内容：</td>
                    <td class="Left_font">@Model.ExamSubContent.Content</td>
                </tr>
                 <tr>
                    <td class="Right_font">填空：</td>
                    <td class="leftfont">
                    <table border="0" cellpadding="0" cellspacing="0"  width="100%" id="subjectFrame">
                      <tr class="hno">
                        <td style="width:3%"></td>
                        <td style="width:97%">&nbsp;答案</td>                    
                      </tr>
@{var j = 1;}
 @foreach (var n in Model.FillBlanksSubject as IList<QzgfFrame.Exam.FillBlanksSubjectManger.Models.ExamFillBlanksSubject>)
 {
           var SignItemn = "SignItem" + j;
         
                     <tr id='@SignItemn'  class="bno">
                        <td><div align='center'><span>@n.OrderNo．</span></div></td>
                        <td>&nbsp;@n.Answer</td>                   
                     </tr>
                        j++;
 }
                   </table>
                    </td>
                </tr>
                <tr>
                    <td class="Right_font" width="12%">试题等级：</td>
                    <td class="Left_font">@Model.ScaleGradeType</td>
                </tr>
                <tr>
                    <td class="Right_font" width="12%">科目类型：</td>
                    <td class="Left_font">@Model.CourseName</td>
                </tr>                             
            </tbody>
        </table>
    </div> 
    <table width="100%">
      <tr>
         <td style="width:45%"></td>
         <td><input type="button" value="返 回" class="l-button l-button-test" onclick="f_windowclose()"/></td>
      </tr>
   </table>
</body>
</html>
