.text-left {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 16px;
	color: #003366;
	text-decoration: none;
	border: none;
}

.text-left a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #003366;
	text-decoration: none;
}

.text-left a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #003366;
	text-decoration: none;
}

.text-left a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #007DFB;
	text-decoration: none;
}

A.hrefStyle0 {
	FONT-WEIGHT: normal;
	COLOR: #000000;
	background-color: #E8EBF7;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CC0000;
	vertical-align: bottom;
}

A.hrefStyle0:visited {
	FONT-WEIGHT: normal;
	COLOR: #333333;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #f70 1px dotted;
	TEXT-DECORATION: none;
	vertical-align: bottom;
}

A.hrefStyle0:hover {
	BORDER-TOP-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	COLOR: #fff;
	BORDER-RIGHT-WIDTH: 0px;
	background-color: #E20733;
	vertical-align: bottom;
}

.line td {
	border-bottom: 1px solid #54a2ef;
}

.bg-left {
	background-repeat: no-repeat;
	background-position: left bottom;
}

.bg-m {
	background-repeat: repeat-y;
	background-position: left;
}

.text-middle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: 0d3964; /*line-height: 20px;*/
}

.text-middle-input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: 0d3964; /*line-height: 20px;*/
	border: 1px solid #669999;
}

.bg-r {
	background-repeat: no-repeat;
	background-position: right bottom;
}

.text-m-org {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #ec380e;
}

.text-m-blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: 54a2ef;
}

.track-bar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #FF6633;
}

.text-left-12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	line-height: 20px;
}

.text-left-12 a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #003366;
	text-decoration: none;
}

.text-left-12 a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #003366;
	text-decoration: none;
}

.text-left-12 a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #FF3300;
	text-decoration: none;
}

.text-m-blue12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	line-height: 20px;
}

.page td {
	font-size: 9pt;
	COLOR: #000000;
	background-color: #E8EBF7;
	text-decoration: none;
	width: 18px;
	height: 16px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CC0000;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CC0000;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CC0000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CC0000;
	text-align: center;
	vertical-align: middle;
}

.page td.mouseover {
	cursor: pointer;
	font-size: 9pt;
	COLOR: #FFFFFF;
	background-color: #FFCC33;
	text-decoration: none;
	width: 18px;
	height: 16px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CC0000;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CC0000;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CC0000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CC0000;
	text-align: center;
	vertical-align: middle;
}

.page td a {
	font-size: 9pt;
	COLOR: #000000;
	text-decoration: none;
}

.page td a:hover {
	font-size: 9pt;
	COLOR: #FFFFFF;
	text-decoration: none;
}

.lineTr td {
	border-bottom: 1px solid #54a2ef;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	line-height: 20px;
}

.lineTd {
	border-bottom: 1px solid #54a2ef;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	line-height: 20px;
}

.lineTrObvious td {
	border-bottom: 1px solid #54a2ef;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF6633;
	line-height: 20px;
}