.icon-sys {
	BACKGROUND-IMAGE: url(/images/menuPanel/system.gif)! important
}
.icon-prop {
	BACKGROUND-IMAGE: url(/images/menuPanel/propertyInfo.gif)! important
}
.icon-info {
	BACKGROUND-IMAGE: url(/images/menuPanel/infoMenu.gif)! important
}
.icon-human {
	BACKGROUND-IMAGE: url(/images/menuPanel/humanMenu.gif)! important
}
.icon-finance {
	BACKGROUND-IMAGE: url(/images/menuPanel/financeInfo.gif)! important
}
.icon-daily {
	BACKGROUND-IMAGE: url(/images/menuPanel/dailyWorkMenu.gif)! important
}
.icon-customer {
	BACKGROUND-IMAGE: url(/images/menuPanel/customerInfo.gif)! important
}
.icon-password {
	BACKGROUND-IMAGE: url(/images/ho.gif)! important
}
.icon-worknote {
	BACKGROUND-IMAGE: url(/images/worknote.gif)! important
}
.icon-im {
	BACKGROUND-IMAGE: url(/images/qq/im.gif)! important
}
.icon-online {
	BACKGROUND-IMAGE: url(/images/qq/online.gif)! important
}
.icon-timelist {
	BACKGROUND-IMAGE: url(/images/qq/timelist.gif)! important
}
.icon-help {
	BACKGROUND-IMAGE: url(/images/qq/help.gif)! important
}
.icon-zoom {
	BACKGROUND-IMAGE: url(/images/qq/zoom.gif)! important
}
.icon-oMsgset {
	BACKGROUND-IMAGE: url(/images/OnlineMessageManager.gif)! important
}
.icon-code {
	BACKGROUND-IMAGE: url(/images/qq/code.gif)! important
}
.icon-img {
	BACKGROUND-IMAGE: url(/images/qq/img.gif)! important
}
.icon-vip {
	BACKGROUND-IMAGE: url(/images/ho2.gif)! important
}
.icon-blog {
	BACKGROUND-IMAGE: url(/images/createWin.gif)! important
}
.icon-application {
	BACKGROUND-IMAGE: url(/images/application.gif)! important
}
.icon-video {
	BACKGROUND-IMAGE: url(/images/blog/video.gif)! important
}
.icon-article {
	BACKGROUND-IMAGE: url(/images/blog/article.gif)! important
}
.icon-unload {
	BACKGROUND-IMAGE: url(/images/blog/unload.gif)! important
}
.icon-img_manager {
	BACKGROUND-IMAGE: url(/images/blog/img_manager.gif)! important
}
.icon-article_manager {
	BACKGROUND-IMAGE: url(/images/blog/article_manager.gif)! important
}
.icon-fenlei {
	BACKGROUND-IMAGE: url(/images/blog/fenlei.gif)! important
}
.icon-zaxiang {
	BACKGROUND-IMAGE: url(/images/system/zaxiang.gif)! important
}
.icon-blog_attribute {
	BACKGROUND-IMAGE: url(/images/system/blog_attribute.gif)! important
}
.icon-sys_document {
	BACKGROUND-IMAGE: url(/images/system/sys_document.gif)! important
}
.icon-service {
	BACKGROUND-IMAGE: url(/images/vip/service.gif)! important
}
.icon-bbscontent {
	BACKGROUND-IMAGE: url(/images/bbs.gif)! important
}
.icon-project {
	BACKGROUND-IMAGE: url(/images/project.gif)! important
}
.icon-webcontent {
	BACKGROUND-IMAGE: url(/images/webcontent.gif)! important
}
.icon-other {
	BACKGROUND-IMAGE: url(/images/other.gif)! important
}
.icon-menuico {
	BACKGROUND-IMAGE: url(/images/menuPanel/tag_blue.gif)! important
}
