<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <!-- lsr begin -->
	<bean id="loginAction" class="com.qzgf.application.systemManage.login.action.LoginAction"	scope="prototype" autowire="byName" /><!-- 登录模块 -->
    <bean id="mainAction" class="com.qzgf.application.systemManage.login.action.MainAction"	scope="prototype" autowire="byName" /> <!-- 主框架模块 -->    
	<bean id="adminLeftAction" class="com.qzgf.application.systemManage.login.action.AdminLeftAction"	scope="prototype" autowire="byName" /><!-- 左测菜单 -->
	<bean id="permissionAction" class="com.qzgf.application.systemManage.permission.action.PermissionAction"	scope="prototype" autowire="byName" /><!-- 权限模块 -->
	<bean id="roleAction" class="com.qzgf.application.systemManage.role.action.RoleAction"	scope="prototype" autowire="byName" /><!-- 角色模块 -->
	<bean id="groupAction" class="com.qzgf.application.systemManage.group.action.GroupAction"	scope="prototype" autowire="byName" /><!-- 角色模块 -->
	<bean id="menuAction" class="com.qzgf.application.systemManage.login.action.MenuAction"	scope="prototype" autowire="byName" /><!-- 角色模块 -->
	<bean id="adminLogoutAction" class="com.qzgf.application.systemManage.login.action.AdminLogout" scope="prototype" autowire="byName" /> <!-- 后台退出模块 -->
	<bean id="userAction" class="com.qzgf.application.systemManage.user.action.UserAction" scope="prototype" autowire="byName" /> <!-- 用户管理模块 -->
	<bean id="branchAction" class="com.qzgf.application.systemManage.branch.action.BranchAction" scope="prototype" autowire="byName" /> <!-- 分店管理模块 -->
	<bean id="customAction" class="com.qzgf.application.biz.custom.action.CustomAction"	scope="prototype" autowire="byName" /><!-- 自定义模块 -->
	<bean id="customReportAction" class="com.qzgf.application.biz.report.action.CustomReportAction"	scope="prototype" autowire="byName" /><!-- 自定义报表 -->
	<bean id="dictionaryAction" class="com.qzgf.application.systemManage.dictionary.action.DictionaryAction"	scope="prototype" autowire="byName" /><!-- 数据字典 -->
	
	
	
	<!-- lsr end -->


	<!-- szj begin -->
	<!-- =============================系统管理========================================= -->
	<!--系统管理｜ 登录信息,注册信息 -->
	<bean id="frontloginAction" class="com.qzgf.application.systemManage.frontlogin.action.FrontLoginAction"	scope="prototype" autowire="byName" />

	<!--日常工作表 action -->
	<bean id="tdailyworkAction" class="com.qzgf.application.work.dailywork.action.TdailyworkAction"	scope="prototype" autowire="byName" />

	<bean id="ttomonitorAction" class="com.qzgf.application.work.tomonitor.action.TtomonitorAction"	scope="prototype" autowire="byName" />

	<bean id="tdeclareAction" class="com.qzgf.application.work.declare.action.TdeclareAction"	scope="prototype" autowire="byName" />

	<!--报表管理-->
    <bean id="treportpatternAction" class="com.qzgf.application.report.reportpattern.action.TreportpatternAction"	scope="prototype" autowire="byName" />

	<!-- dpl begin -->
    <!-- 手机端登录-->	
	<bean id="clientloginAction" class="com.qzgf.application.mobileclient.login.action.loginAction" scope="prototype" autowire="byName" />
    <!--手机端提取任务-->    
	<bean id="missionAction" class="com.qzgf.application.mobileclient.mission.action.missionAction" scope="prototype" autowire="byName" />
    <!--手机端提取模板-->		
    <bean id="clientPatternAction" class="com.qzgf.application.mobileclient.pattern.action.patternAction" scope="prototype" autowire="byName" />	
	<!--手机端反馈保存-->		
    <bean id="feedbackAction" class="com.qzgf.application.mobileclient.feedback.action.feedbackAction" scope="prototype" autowire="byName" />
    <!--手机端定位保存-->		
    <bean id="attendanceAction" class="com.qzgf.application.mobileclient.attendance.action.attendanceAction" scope="prototype" autowire="byName" />
    <!-- 报表 -->
    <!-- 考勤查询 -->	
    <bean id="repattendanceAction" class="com.qzgf.application.report.attendance.action.RepAttendanceAction" scope="prototype" autowire="byName" />    
	<!-- dpl end -->
</beans>