<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="Stylesheet" href="../../../../Content/Lib/css/layerStyle.css" />
</head>
<body>
    <div class="out_div">
        <table cellpadding="1" cellspacing="1" class="table">
            <tr>
                <td>
                    <table class="Tab">
                        <tr>
                            <td colspan="6" class="table_top">
                                业务类型:&nbsp;<select id="Line_DediLine_BizTypeId" name="Line.DediLine.BizTypeId"><option
                                    value="20110927004246408384">互联网专线</option>
                                    <option value="2011092815415063323">IMS专线</option>
                                    <option value="20110928154158716654">VOIP专线</option>
                                    <option value="20110928154206652388">广域网专线</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="table_td_left">
                                选择集团编号：<span>*</span>
                            </td>
                            <td>
                                <select id="" name="">
                                    <option value="20110929101301932021">68719069000651</option>
                                    <option value="20110920171023132103">68719069000650</option>
                                    <option value="20111101150808028301">5915000317</option>
                                    <option value="20111102153947030522">5915000343</option>
                                    <option value="20111102153947080380">5915000341</option>
                                    <option value="20111101150807069926">5915459509</option>
                                </select>
                            </td>
                            <td class="table_td_left">
                                集体名称：<span>*</span>
                            </td>
                            <td colspan="3">
                                <input id="" name="" size="40" type="text" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td class="table_td_left">
                                组网方式：<span>*</span>
                            </td>
                            <td colspan="5">
                                <select id="" name="">
                                    <option value="">MSTP</option>
                                    <option value="">MSAP</option>
                                    <option value="">协转</option>
                                    <option value="">PON</option>
                                    <option value="">裸纤</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="table_td_left">
                                业务保障等级：<span>*</span>
                            </td>
                            <td>
                                <select id="" name="">
                                    <option value="">AAA</option>
                                    <option value="">AA</option>
                                    <option value="">A</option>
                                    <option value="">普通</option>
                                    <option value="">待定</option>
                                </select>
                            </td>
                            <td class="table_td_left">
                                合同管理：<span>*</span>
                            </td>
                            <td>
                                <input id="" name="" type="text" value="" />
                            </td>
                            <td class="table_td_left">
                                实际宽带：<span>*</span>
                            </td>
                            <td>
                                <input id="" ltype="text" name="" type="text" validate="{required:true,minlength:2,maxlength:10}"
                                    value="2M" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="Tab">
                        <tr>
                            <td colspan="6" class="table_top">
                                IP信息
                            </td>
                        </tr>
                        <tr>
                            <td class="table_td_left">
                                VLAN号：<span>*</span>
                            </td>
                            <td>
                                <input id="" name="" type="text" value="" />
                            </td>
                            <td class="table_td_left">
                                网关地址：<span>*</span>
                            </td>
                            <td colspan="3">
                                <input id="" name="" type="text" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td class="table_td_left">
                                客户IP地址：<span>*</span>
                            </td>
                            <td>
                                <input id="" name="" type="text" value="" />
                            </td>
                            <td class="table_td_left">
                                子网掩码：<span>*</span>
                            </td>
                            <td colspan="3">
                                <input id="" name="" type="text" value="" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="Tab">
                        <tr>
                            <td colspan="6" class="table_top">
                                基站端传输（Z端）
                            </td>
                        </tr>
                        <tr>
                            <td class="table_td_left">
                                接入基站名称：<span>*</span>
                            </td>
                            <td>
                                <input id="" name="" type="text" value="强房基站" />
                            </td>
                            <td class="table_td_left">
                                基站传输设备及端口：<span>*</span>
                            </td>
                            <td>
                                <input id="" name="" type="text" value="metro1000 -TP4.2" />
                            </td>
                            <td class="table_td_left">
                                电路编号：<span>*</span>
                            </td>
                            <td>
                                <input id="" name="" type="text" value="强房-三新通讯 " />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="Tab">
                        <tr>
                            <td colspan="6" class="table_top">
                                城域网传输（A端）
                            </td>
                        </tr>
                        <tr>
                            <td class="table_td_left">
                                机房传输设备：
                            </td>
                            <td>
                                <input id="" name="" type="text" value="前廊五楼3500 T16.6" />
                            </td>
                            <td class="table_td_left">
                                端口：
                            </td>
                            <td colspan="3">
                                <input id="" name="" type="text" value="50" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="Tab">
                        <tr>
                            <td colspan="4" class="table_top">
                                城域网交换机
                            </td>
                        </tr>
                        <tr>
                            <td class="table_td_left">
                                城域网接入交换机：
                            </td>
                            <td>
                                <input id="" ltype="text" name="" type="text" validate="{required:true,minlength:2,maxlength:10}"
                                    value="" />
                            </td>
                            <td class="table_td_left">
                                端口：
                            </td>
                            <td>
                                <input id="" name="" type="text" value="" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="Tab">
                        <tr>
                            <td class="table_top" colspan="6">
                                接入全业务机房
                            </td>
                        </tr>
                        <tr>
                            <td class="table_td_left">
                                接入全业务机房名称：<span>*</span>
                            </td>
                            <td>
                                <input id="" name="" type="text" value="强房基站" />
                            </td>
                            <td class="table_td_left">
                                OLT设备及端口：<span>*</span>
                            </td>
                            <td>
                                <input id="" name="" type="text" value="" />
                            </td>
                            <td class="table_td_left">
                                LOID：
                            </td>
                            <td>
                                <input id="" name="" type="text" value="" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="Tab">
                        <tr>
                            <td class="table_top">
                                纤芯
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>
                                        <p style="float: left">
                                            从</p>
                                        <input name='BaseStationName0' type='text' size='20' value='' /><label style="margin: auto 15px">跳纤点</label>
                                        <input name='SeqNo0' type='text' size='20' value='' />
                                        ---&nbsp;<input name='Core0' type='text' size='20' value='' />
                                        <input type="button" name="Submit" value="添加跳纤点" onclick="AddSignRow()" /></li>
                                    <li>
                                        <input name='SeqNo' type='hidden' id='SeqNow' value='' />
                                        <input name='BaseStationName' id='BaseStationNamew' type='hidden' value='' />
                                        <label style="margin: auto 10px auto 161px">
                                            至客户端</label>
                                        <input name='ODUStation' id='ODUStationw' type='text' size='20' value='' />
                                        ---&nbsp;<input name='Core' id='Corew' type='text' size='20' value='' /></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="Tab">
                        <tr>
                            <td class="table_top" colspan="4">
                                账号资源
                            </td>
                        </tr>
                        <tr>
                            <td class="table_td_left">
                                号码<span>*</span>
                            </td>
                            <td class="table_td_left">
                                用户名<span>*</span>
                            </td>
                            <td class="table_td_left">
                                密码<span>*</span>
                            </td>
                            <td class="table_td_left">
                                <input type="button" name="Submit" value="添加号码" onclick="AddRow()" />
                            </td>
                        </tr>
                        <tr align="center">
                            <td align="center" style="text-align: center">
                                <input name='' id='' type='text' size='12' value="" />
                            </td>
                            <td align="center" style="text-align: center">
                                <input name='' id='' type='text' size='20' value="" />
                            </td>
                            <td align="center" style="text-align: center">
                                <input name='PassWord0' id='PassWord0' type='text' size='10' value="" />
                            </td>
                            <td align="center" style="text-align: center">
                                <a href='javascript:;' onclick="DeleteRow('SignNumberItem0')">删除</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="Tab">
                        <tr>
                            <td class="table_top">
                                上传资料：
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;&nbsp;<input type="file" id="T7" name="uploadfiles" maxlength="10" accept="doc|docx|rar|zip"
                                    style="width: 400px" /><input id="" name="" type="hidden" value="" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="Tab">
                        <tr>
                            <td colspan="4" class="table_top">
                                DDF架传输侧位置
                            </td>
                        </tr>
                        <tr>
                            <td class="table_td_left">
                                机房传输设备：
                            </td>
                            <td>
                                <input id="Line_DediLine_DDFT" name="Line.DediLine.DDFT" type="text" value="" />
                            </td>
                            <td class="table_td_left">
                                DDF架设备侧位置：
                            </td>
                            <td>
                                <input id="Line_DediLine_DDFE" name="Line.DediLine.DDFE" type="text" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td class="table_td_left">
                                接入日期：
                            </td>
                            <td colspan="3">
                                <input id="" name="" onfocus="WdatePicker({dateFmt:&#39;yyyy-M-dd&#39;}); " type="text"
                                    value="2011/11/22 9:32:37" />
                            </td>
                        </tr>
                        <tr>
                            <td class="table_td_left">
                                是否接入本地网管：
                            </td>
                            <td>
                                <input id="" name="" type="radio" value="1" />是
                                <input checked="checked" id="" name="" type="radio" value="0" />否
                            </td>
                            <td class="table_td_left">
                                是否接入省网管监控：
                            </td>
                            <td>
                                <input id="" name="" type="radio" value="1" />是
                                <input checked="checked" id="" name="" type="radio" value="0" />否
                            </td>
                        </tr>
                        <tr>
                            <td class="table_td_left">
                                备注：
                            </td>
                            <td colspan="3">
                                <textarea multiline="True" cols="20" id="" name="" rows="2" size="80" style="width: 550px">
</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="center" style="text-align:center">
                                <input type="submit" value="确 定" id="subtn" />&nbsp;&nbsp;<input type="button" value="返 回 " onclick="history.go(-1); " />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
